
/* ----------------------------------------------
 * init default style
 * ---------------------------------------------- */
.hidden-comment {
    display: none!important;
}
div.inside:has(.hidden-comment) {
    display: none!important;
}

/* ----------------------------------------------
 * common header default style
 * header id         - #doz_header_wrap
 * header wrapper id - #s20250721b75480cc5aa0f
 * header inner id   - #s20250721b75480cc5aa0f
 *
 * menu widget id    - #w2025072190d07aa84cf05
 * login widget id   - #w20250721c82ad2c991d45
 *
 * ---------------------------------------------- */
#s20250721b75480cc5aa0f .inline-inside {
    max-width: var(--default-content-width);
}

#w20250721c225b846009a0 {
    margin-right: var(--default-logo-margin);
    padding:.5rem 0;
}

#w2025072190d07aa84cf05 {
    font-weight:400;
}
#w2025072190d07aa84cf05 li.dropdown > ul.dropdown-menu {
  ul, li, a {
      --webkit-transition:.1s;
      transition:.1s;
  }
}
#w2025072190d07aa84cf05 .viewport-nav > li.dropdown > .notranslate a.active, 
#w2025072190d07aa84cf05 .viewport-nav > li.dropdown > a.active {
  font-weight:750;
}
#w2025072190d07aa84cf05 .viewport-nav > li.dropdown > .notranslate a:hover, 
#w2025072190d07aa84cf05 .viewport-nav > li.dropdown > a:hover {
    opacity: 0.5;
}
#w2025072190d07aa84cf05 .viewport-nav > li.dropdown > .notranslate a, #w2025072190d07aa84cf05 .viewport-nav > li.dropdown > a {
  transition:unset;
  padding: 0 var(--default-navbar-padding);
}



/* ----------------------------------------------
 * common Footer default style
 * ---------------------------------------------- */
footer#custom-footer {
    display: flex;
    justify-content:center;
    padding:1rem;
    > div.footer-content {
        width:100%;
        max-width: var(--default-content-width);
        font-size:12px;
        line-height:1;
        color:#666;
        display:flex;
        flex-direction:column;
        gap:0.5rem;
        .copyright-wrapper {
            display:flex;
            align-items:center;
            gap:1rem;
            nav {
                display:flex;
            }
            nav a {
                padding:0 0.5rem;
                font-weight: 600;
                line-height:1;
            }
            nav a:not(:first-of-type) {
                border-left:1px solid #666;            
            }
        }
        p {
            line-height:1.47;
        }
        p span {
            white-space: nowrap;
        }
    }
}

@media (max-width: 768px) {
    /* 최대 768 */
    footer#custom-footer {
        display: flex;
        justify-content:center;
        padding:1rem;
        > div.footer-content {
            font-size:10px;
            gap:0.25rem;
            .copyright-wrapper {
                gap:1rem;
                flex-direction:column;
                align-items:flex-start;
                justify-content:flex-start;
                nav a:first-of-type {
                    padding-left:0;       
                }
            }
        }
    }
}