:root {
    /* default font */
    --default-font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    
    /* Init base font sizes */
    --base-body-font-size: 17px;
    --base-font-size: 1rem;

    --fs-base: var(--base-font-size);
    --fs-base-title: calc(var(--fs-base) * 2);

    --fs-primary-title: calc(var(--fs-base) * 2);
    --fs-title: calc(var(--fs-base-title) * 3 / 2);
    --fs-subtitle: calc(var(--fs-title) * 2 / 3);

    --fs-section-title: calc(var(--fs-base-title) * 2 / 3);
    --fs-section-subtitle: calc(var(--fs-section-title) * 1.5);

    --fs-body: var(--fs-base);

    /* init widths */
    --logo-width: 100px;
    --default-container-width: 100%;
    --default-content-width: 100%;
    --default-container-width-small: 100%;
    --default-content-width-small: 100%;

    --max-container-width: 1280px;
    --max-content-width: 1152px;
    --max-container-width-small: 1024px;
    --max-content-width-small: 960px;

    --default-container-padding: calc(var(--max-container-width) - var(--max-content-width));
    --default-logo-margin: 20px;
    --default-navbar-padding: 12px;
}

@media (max-width: 1280px) and (min-width: 1025px) {
    /* 1025 ~ 1280 */
    :root {
        --max-container-width: 1024px;
        --max-content-width: 968px;
        --max-container-width-small: var(--max-container-width);
        --max-content-width-small: var(--max-content-width);
    }
}


@media (max-width: 1024px) and (min-width: 769px) {
    /* 769 ~ 1024 */
    :root {
        --fs-base-title: calc(var(--fs-base) * 1.75);

        --max-container-width: 992px;
        --max-content-width: 944px;
        --max-container-width-small: var(--max-container-width);
        --max-content-width-small: var(--max-content-width);
    }
}

@media (max-width: 768px) {
    :root {
        --fs-base-title: calc(var(--fs-base) * 1.5);

        --max-container-width: calc(100svw - 2rem);
        --max-content-width: calc(var(--max-container-width) - 2rem);
        --max-container-width-small: var(--max-container-width);
        --max-content-width-small: var(--max-content-width);
    }
}