/*!
 * END USER LICENSE AGREEMENT (EULA) FOR CSS/JS MODULE
 * 
 * This Software is licensed by HScomm Web dev Team ("Licensor") to the end user ("Licensee").
 * 
 * 1. License Grants
 *    1.1 Licensee is granted a non-exclusive, non-transferable license to use one copy of the Software
 *        solely on a single website domain owned or controlled by Licensee.
 *    1.2 Third-party library components included are subject to their respective open source licenses
 *        (e.g., GPL, LGPL, MIT, Apache), which take precedence as applicable.
 *    1.3 However, GSAP library components are subject to the GSAP Standard "No Charge" License by Webflow.
 *        Licensee agrees to comply with the GSAP license terms (https://greensock.com/licensing/).
 *    1.4 For any matters not explicitly covered by third-party licenses, this EULA applies as the final
 *        governing license, except when conflicting with third-party licenses which take precedence.
 * 
 * 2. Usage Restrictions
 *    - No reproduction, distribution, sale, sublicensing, or transfer of Licensor's original Software parts
 *      to third parties.
 *    - No modification, adaptation, or derivative works of Licensor's original Software parts for redistribution.
 *    - Use limited to one domain; additional licenses required for multiple domains or projects.
 *    - No third-party use of Licensor's Software components allowed.
 *    - Proprietary notices or branding of third-party components must not be removed or altered.
 * 
 * 3. Ownership
 *    - Licensor retains all intellectual property rights in original code (excluding third-party components).
 *    - Third-party components remain property of their respective owners.
 * 
 * 4. Limitation of Liability
 *    - Licensor is not liable for damages from use or inability to use the Software, including third-party parts.
 * 
 * 5. Termination
 *    - License terminates immediately upon violation; Licensee must cease use and delete all copies.
 * 
 * 6. Governing Law
 *    - Governed by the laws of [Jurisdiction].
 * 
 * HScomm Web dev Team
 * Date: 07/25/2025
 */

.visual-section {
  margin-top: 16rem;
  h2, h3, h4, h5 {
    margin:0;
    word-break: keep-all;
  }

  h2 {
    font-size: var(--fs-title);
    font-weight: 800;
    text-align: center;
  }
  h3 {
    font-size: var(--fs-subtitle);
    font-weight: 700;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    color: #6e6e73;
  }
  .content {
    p {
      color: #6e6e73;
      font-weight: 700;
      font-size: var(--fs-copyright);
      line-height: 1.54;
    }
    strong {
      font-weight: 700;
    }
  }
}



#visual-section2,
#visual-section3 {
  .content-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
  }
  .content {
    border-radius: 1rem;
    background: #f5f5f7;
    min-height: 50lvh;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
  }
}

#visual-section5 {
    
  .content-wrapper {
    margin: var(--fs-subtitle) auto;
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
  }
  .content {
    border-radius: 1rem;
    background: #f5f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    aspect-ratio: 2 / 1;
    padding: 2rem;
    gap: 0.5rem;


    h3 {
      font-weight: 750;
      color: black;
    }

    a {
      color: #06c;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .visual-section {
    margin-top: 4rem;

    h3 {
      width: 100%;
    }
    .content {
      margin-top: 2rem;

      p {
        color: #666;
      }
    }
  }



  #visual-section2 {
    .content {
      margin-top: 1rem;
    }
    .content-wrapper {
      margin-top: 1rem;
      display: flex;
      gap: 1rem;
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }

  #visual-section5 {
    .content-wrapper {
      gap: 1rem;
      flex-direction: column;
    }
    .content {
      margin-top: 0;

      a {
        font-size: 0.875rem;
      }
      a:hover {
        font-size: 0.875rem;
      }
    }
  }

}
